body {
  width: 100%;
  margin: auto;
  font-family: Arial;
  background-color: #eee;
}

#explainGlyph {
  margin-top: 20px;
  border: 1px solid #555;
  width: 350px;  
}

#plots {
  margin-top: 0px;
}

#plots svg .title {
  display: none;
}

#plots svg text {
  /*display: none;*/
}

.title {
  font-size: 14px;
}
.label {
  font-size: 11px;
}
.origin {
  fill: #333;
}
.star-axis {
  stroke: #ccc;
  stroke-width: 1px;
  /*stroke-dasharray: 4 5;*/
}

.flower-axis {
}

.flower-path {
  stroke: #555;
  stroke-width: 1px;
}
.star-path {
  stroke: #555;
  stroke-width: 1px;
  fill-opacity: 0.6;
}