body {  
  margin: auto;
  font-family: Arial;
  background-color: #eee;
  padding-left: 50px;
}

#explainGlyph {
  margin-top: 20px;
  border: 1px solid #555;
  width: 350px;  
}

#plots {
  margin-top: 0px;
}

#plots svg .title {
  display: none;
}

#plots svg text {
  /*display: none;*/
}

.title {
  font-size: 14px;
}
.label {
  font-size: 14px;
}
.origin {
  fill: transparent;
}
.star-axis {
  stroke: #ccc;
  stroke-width: 1px;
  /*stroke-dasharray: 4 5;*/
}

.flower-axis {
}

.flower-path {
  /*stroke: #555;*/
  stroke-width: 0.5px;
}
.star-path {
  /*stroke: #555;*/
  stroke-width: 1px;
  fill-opacity: 0.6;
}

.chart {
  padding: 2px;
  cursor: pointer;
}

.chart:hover {
  padding: 1px;
  border: 1px dashed #555;
}

.currentglyph {
  padding: 0px !important;
  border: 2px dashed #555 !important;
}