body {  
  margin: auto;
  font-family: Arial;
  background-color: #eee;
  padding-left: 50px;
}

#plots {  
  margin-top: 0px;
}

#plots svg .title {
  display: none;
}

#plots svg text {
  /*display: none;*/
}

.title {
  font-size: 14px;
}
.label {
  font-size: 14px;
}
.origin {
  fill: transparent;
}
.star-axis {
  stroke: #ccc;
  stroke-width: 1px;
  /*stroke-dasharray: 4 5;*/
}

.flower-axis {
}

.flower-path {
  /*stroke: #555;*/
  stroke-width: 0.5px;
}
.star-path {
  /*stroke: #555;*/
  stroke-width: 1px;
  fill-opacity: 0.6;
}

.chart {
  padding: 2px;
  cursor: pointer;
}

.chart:hover {
  padding: 1px;
  border: 1px dashed #555;
}

.currentglyph {
  padding: 0px !important;
  border: 2px dashed #555 !important;
}

#explainGlyph .chart {
  padding: 2px;
  float: left;
  margin-top: 20px;
  border: 1px solid #555 !important;
  width: 350px;  
}

#legend:after {
  content: "";
  display: table;
  clear: both;
}

#legend {
  padding-top: 295px;
  margin-left: 380px;
  padding-bottom: 20px;
}

#legend td {
  width: 200px;
}

.box {
  width: 50px;
  height: 50px;
  float: left;
}

.box-explain {
  padding-left: 10px;
  padding-top: 16px;
  padding-right: 5px;
  height: 32px;
  width: 100px;
  float: left;
  font-size: 15px;
}

.entertainment {
  background: #3A7477;
}

.sport {
  background: #C5BA60;    
}
  
.bildung {
  background: #C58E60;
}

.band {
  background: #8FB558;
}

.tourismus {
background: #604786;

}

.beauty {
  background: #A55177;
}